@import 'variables';

/*********************************************
				Menu Styling
*********************************************/

nav.main{
	display: none;
}

nav.menu{
    padding-top: 1em;
    padding-bottom: 1em;
}


header.inverted{ 
    color: white;
}




.menu-toggle{
	padding: 0.5em;
	cursor: pointer;
	position: relative;
	z-index: 99
}

#menu-toggle-check{
	position: absolute;
	top: -9999px;
	left: -9999px;
}


#menu-toggle-check:checked ~ nav.main{
	display: block;
	background-color: #222326;
	width: 75vw;
	height: 100vh;
	position: absolute;
	top:0;
	padding-top: 3em;
	z-index: 98;
	box-shadow: 5px 0 5px black;
	color: white;
}

#menu-toggle-check:checked ~ .menu-toggle-label{
	color: white;
	position: absolute;
	top:0;
}

.menu-item{
	border: 2px solid;
	border-color: inherit;
	border-radius: 5px;
	display: block;
	margin: 1em;
	padding: .5em 1em;
	color: inherit;
	text-decoration: none;
	display: block;
}


.menu-item:hover{
	background-color: #c2c2c2;
}



@media screen and (min-width: 560px){
	i.menu-toggle{
		display: none;
	}



	.menu-item{
		display: inline-block;
		margin: 0 0.2em;
	}


	nav.main{
		background-color: #000000;
		background-color: rgba(0,0,0,0);
		transition: color 0.7s ease;
		padding-top: 1em;
		padding-bottom: 1em;
		display: block;
    }

    nav.main.inverted{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
	}

	.menu{
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: center;
	}
}

.site-title{
	font-size: 35px;
	color: black;
	font-family: 'Exo 2', sans-serif;
	text-decoration: none;
	text-align: center;
	display: block;

}
.site-tag{
	color: black;
	display: block;
	font-family: 'Exo 2', sans-serif;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}